designs/server/services/ids.json
[
    {
        "id": "sd_9DCUVTdQNHyR9nhR",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids",
        "viewType": "server",
        "relativeParentPath": ""
    },
    {
        "id": "sd_Z3ZzPV39CbdOfIOw",
        "type": "HttpIn",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_NjbPOU9w7qpjiuXg"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_Z3ZzPV39CbdOfIOw"
    },
    {
        "id": "sd_57CRuiajOwPR2GB7",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "functionName": "sd_57CRuiajOwPR2GB7",
        "category": "Function",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_uc1SExCEBdtaR2kQ"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_uc1SExCEBdtaR2kQ",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "functionName": "sd_uc1SExCEBdtaR2kQ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_TGxHHI0NnAykNSNY"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_S8l70AiLl5GVSvhD",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "functionName": "sd_S8l70AiLl5GVSvhD",
        "category": "Function",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_27zlcyngKdEKknpt"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_TGxHHI0NnAykNSNY",
        "type": "CallService",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_CBgLAFnpfXPJux1R",
            "serviceName": "idsutil",
            "id": "sd_CBgLAFnpfXPJux1R",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_m7lKC4rLXt0sjFx7",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_TGxHHI0NnAykNSNY",
        "category": "General",
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_U3D56TLMatNVz4YG"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_27zlcyngKdEKknpt",
        "type": "HttpOut",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_27zlcyngKdEKknpt",
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_46lME6iGEr3G1xvz",
        "type": "Switch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_46lME6iGEr3G1xvz",
        "category": "Function",
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_57CRuiajOwPR2GB7"
            ],
            [
                "sd_3qb6snuafgBSNiwl"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_NjbPOU9w7qpjiuXg",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "functionName": "sd_NjbPOU9w7qpjiuXg",
        "category": "Function",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_46lME6iGEr3G1xvz"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_mKTN1wJ5VDHspyeH",
        "type": "HttpOut",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "404",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_mKTN1wJ5VDHspyeH",
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_3qb6snuafgBSNiwl",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "functionName": "sd_3qb6snuafgBSNiwl",
        "category": "Function",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_mKTN1wJ5VDHspyeH"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_EQI0A2izEE0EOScy",
        "type": "MiddlewareStart",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_lvBsWLfHTYGEN8n3"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_EQI0A2izEE0EOScy"
    },
    {
        "id": "sd_ty4J3TpsEad9Y5ku",
        "type": "MiddlewareEnd",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_ty4J3TpsEad9Y5ku",
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_lvBsWLfHTYGEN8n3",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "functionName": "sd_lvBsWLfHTYGEN8n3",
        "category": "Function",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_ty4J3TpsEad9Y5ku"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_U3D56TLMatNVz4YG",
        "type": "CallService",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_CBgLAFnpfXPJux1R",
            "serviceName": "idsutil",
            "id": "sd_CBgLAFnpfXPJux1R",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_8MRmxkZ9VfEDmc3t",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "./idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "accept_bh": false,
        "functionName": "sd_U3D56TLMatNVz4YG",
        "category": "General",
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_S8l70AiLl5GVSvhD"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_OAJB5n0JnIpMB2VI",
        "type": "HttpIn",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_n1KuTdqLTltTv3Sx"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_OAJB5n0JnIpMB2VI"
    },
    {
        "id": "sd_U1TBSpxnHfTFg0Fl",
        "type": "CallService",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_CBgLAFnpfXPJux1R",
            "serviceName": "idsutil",
            "id": "sd_CBgLAFnpfXPJux1R",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_m7lKC4rLXt0sjFx7",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_U1TBSpxnHfTFg0Fl",
        "category": "General",
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_jjU4lC0KeWk7Ayby"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_jjU4lC0KeWk7Ayby",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());",
        "functionName": "sd_jjU4lC0KeWk7Ayby",
        "category": "Function",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_4hQUQZAmCPk7lilZ"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_n1KuTdqLTltTv3Sx",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "functionName": "sd_n1KuTdqLTltTv3Sx",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_U1TBSpxnHfTFg0Fl"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_1yqkL7M79TXUitr0",
        "type": "Switch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_1yqkL7M79TXUitr0",
        "category": "Function",
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_jgUd80RJ7JX1Xfhi"
            ],
            [
                "sd_c5oFQy5ln0TxHQj5"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_jgUd80RJ7JX1Xfhi",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_jgUd80RJ7JX1Xfhi",
        "category": "Function",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_jUDzIs3Kse9gfkRv"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_c5oFQy5ln0TxHQj5",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "functionName": "sd_c5oFQy5ln0TxHQj5",
        "category": "Function",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_Ou0Cf95qXb2KzKNv"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_jUDzIs3Kse9gfkRv",
        "type": "HttpOut",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {
            "Content-Security-Policy": "script-src 'sha256-wcX+PzUovy0uNFqMGCbbbzuT5v4aAxU9obFNyt6BHAQ='"
        },
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Security-Policy",
                    "value": "script-src 'sha256-wcX+PzUovy0uNFqMGCbbbzuT5v4aAxU9obFNyt6BHAQ='",
                    "rowId": "sd_VZ8YSISw5G2Kbppv",
                    "valid": true
                }
            ]
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_jUDzIs3Kse9gfkRv",
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_Ou0Cf95qXb2KzKNv",
        "type": "HttpOut",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_Ou0Cf95qXb2KzKNv",
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_4hQUQZAmCPk7lilZ",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "functionName": "sd_4hQUQZAmCPk7lilZ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_1yqkL7M79TXUitr0"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_lj0AkAWa3E1YhOHC",
        "type": "HttpIn",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/user/info": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_9Q35xDfMoh6NsTMi"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_lj0AkAWa3E1YhOHC"
    },
    {
        "id": "sd_9Q35xDfMoh6NsTMi",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "functionName": "sd_9Q35xDfMoh6NsTMi",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_2x08fuqxU5U1sn9Q"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_2x08fuqxU5U1sn9Q",
        "type": "HttpOut",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_2x08fuqxU5U1sn9Q",
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_CmW5ZGyjKErnV13o",
        "type": "Catch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_U3D56TLMatNVz4YG",
            "sd_OAJB5n0JnIpMB2VI",
            "sd_U1TBSpxnHfTFg0Fl",
            "sd_jjU4lC0KeWk7Ayby",
            "sd_n1KuTdqLTltTv3Sx",
            "sd_1yqkL7M79TXUitr0",
            "sd_jgUd80RJ7JX1Xfhi",
            "sd_c5oFQy5ln0TxHQj5",
            "sd_jUDzIs3Kse9gfkRv",
            "sd_Ou0Cf95qXb2KzKNv"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_CmW5ZGyjKErnV13o",
        "category": "General",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_taYnQ5DmvuCerihN"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_taYnQ5DmvuCerihN",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "functionName": "sd_taYnQ5DmvuCerihN",
        "category": "Function",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_Mbh1waYbNfB0IfwG",
        "type": "HttpIn",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_6ebOzIKAFhU7jTuN"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_Mbh1waYbNfB0IfwG"
    },
    {
        "id": "sd_6ebOzIKAFhU7jTuN",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_6ebOzIKAFhU7jTuN",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_cRTqr5sU4wuTMrBt"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_cRTqr5sU4wuTMrBt",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "functionName": "sd_cRTqr5sU4wuTMrBt",
        "category": "Function",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_s66nLMUamgJlRGVH"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_gL1Ly6L3IGWBG5lc",
        "type": "Switch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_gL1Ly6L3IGWBG5lc",
        "category": "Function",
        "x": 885,
        "y": 1680,
        "wires": [
            [
                "sd_01jsfX1Ry7oet8IP"
            ],
            [
                "sd_qOSKN4JpgjGYJmPr"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_01jsfX1Ry7oet8IP",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}\n\n// Remove user info and tokenset before login redirect\nbh.local.sessionData.data.tokenset = null;\nbh.local.sessionData.data.userInfo = null;",
        "functionName": "sd_01jsfX1Ry7oet8IP",
        "category": "Function",
        "x": 1045,
        "y": 1560,
        "wires": [
            [
                "sd_dCWCI7Lqpk6tk1KJ"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_s66nLMUamgJlRGVH",
        "type": "CallService",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_CBgLAFnpfXPJux1R",
            "serviceName": "idsutil",
            "id": "sd_CBgLAFnpfXPJux1R",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_m7lKC4rLXt0sjFx7",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_s66nLMUamgJlRGVH",
        "category": "General",
        "x": 645,
        "y": 1680,
        "wires": [
            [
                "sd_gL1Ly6L3IGWBG5lc"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_Rt0nPDjhQ7iOxAFC",
        "type": "HttpOut",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_Rt0nPDjhQ7iOxAFC",
        "category": "HTTP",
        "x": 1345,
        "y": 1680,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_qOSKN4JpgjGYJmPr",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "functionName": "sd_qOSKN4JpgjGYJmPr",
        "category": "Function",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_Rt0nPDjhQ7iOxAFC"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_N3y6yA7K3KGyGfwz",
        "type": "HttpIn",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 200,
        "y": 2500,
        "wires": [
            [
                "sd_PZDWTjxJAiEfMP7B"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_N3y6yA7K3KGyGfwz"
    },
    {
        "id": "sd_PZDWTjxJAiEfMP7B",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.isPasswordResetCallback = !!bh.input.query.password_reset_username",
        "functionName": "sd_PZDWTjxJAiEfMP7B",
        "category": "Function",
        "x": 280,
        "y": 2350,
        "wires": [
            [
                "sd_JKazZ55tFvS11DdT"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_JKazZ55tFvS11DdT",
        "type": "Switch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isPasswordResetCallback",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.isPasswordResetCallback",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_JKazZ55tFvS11DdT",
        "category": "Function",
        "x": 350,
        "y": 2500,
        "wires": [
            [
                "sd_FHmcLQ8e8CFK6Hi1"
            ],
            [
                "sd_S7ReTIX7N4S0t5d5"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_FHmcLQ8e8CFK6Hi1",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const sessionStore = bh.web.req.sessionStore;\nconst res = new Promise((res, rej) => {\n    sessionStore.all((err, sessions) => {\n        const promises = Object.keys(sessions).map(sid => {\n            return new Promise((resolve, reject) => {\n                sessionStore.get(sid, (err, session) => {\n                    if (session?.data?.userInfo?.username === bh.input.query.password_reset_username) {\n                        log.debug(`[LCB] username matched::${session.data.userInfo.username}`)\n                        sessionStore.destroy(sid, (err, d) => {\n                            resolve(d)\n                        })\n                    } else {\n                        resolve(undefined)\n                    }\n                })\n            })\n        })\n        Promise.all(promises).then((d) => res(d))\n    })\n});\n\nconst rr = await res;",
        "functionName": "sd_FHmcLQ8e8CFK6Hi1",
        "category": "Function",
        "x": 430,
        "y": 2350,
        "wires": [
            [
                "sd_CuKJXpHOkIbHlLIO"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_CuKJXpHOkIbHlLIO",
        "type": "HttpOut",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "{ message: \"destroyed\" }",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "{ message: \"destroyed\" }",
            "send": "{ message: \"destroyed\" }"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_CuKJXpHOkIbHlLIO",
        "category": "HTTP",
        "x": 580,
        "y": 2350,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_S7ReTIX7N4S0t5d5",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_S7ReTIX7N4S0t5d5",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 500,
        "y": 2500,
        "wires": [
            [
                "sd_ek5wXCsYMn1wf7Pv"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_IRZ5e9nKJNtYtn5h",
        "type": "Switch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_IRZ5e9nKJNtYtn5h",
        "category": "Function",
        "x": 800,
        "y": 2500,
        "wires": [
            [
                "sd_kcQ3thKBTYIuDzUQ"
            ],
            [
                "sd_BbvWPSVfZRmEfVlp"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_kcQ3thKBTYIuDzUQ",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_kcQ3thKBTYIuDzUQ",
        "category": "Function",
        "x": 1000,
        "y": 2350,
        "wires": [
            [
                "sd_pMnaminohFFEhq4r"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_pMnaminohFFEhq4r",
        "type": "HttpOut",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {
            "Content-Security-Policy": "script 'sha256-j4HHWBMKh2PoLEAu017BWktgUmmL7VVMjnHuNWUHGOg='"
        },
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Security-Policy",
                    "value": "script 'sha256-j4HHWBMKh2PoLEAu017BWktgUmmL7VVMjnHuNWUHGOg='",
                    "rowId": "sd_1rEodKaPhq3Yygas",
                    "valid": true
                }
            ]
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_pMnaminohFFEhq4r",
        "category": "HTTP",
        "x": 1150,
        "y": 2350,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_BbvWPSVfZRmEfVlp",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "functionName": "sd_BbvWPSVfZRmEfVlp",
        "category": "Function",
        "x": 1000,
        "y": 2650,
        "wires": [
            [
                "sd_YgKOhcuVhDeF260q"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_YgKOhcuVhDeF260q",
        "type": "HttpOut",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_YgKOhcuVhDeF260q",
        "category": "HTTP",
        "x": 1150,
        "y": 2650,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_ek5wXCsYMn1wf7Pv",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_ek5wXCsYMn1wf7Pv",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 650,
        "y": 2500,
        "wires": [
            [
                "sd_IRZ5e9nKJNtYtn5h"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_gsQmc1V84NFCTuQh",
        "type": "MiddlewareStart",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_DVR8mkm1XcsgISsC"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_gsQmc1V84NFCTuQh"
    },
    {
        "id": "sd_HqUeLEDkxDIwWDkt",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_HqUeLEDkxDIwWDkt",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_kQ0J6vfErWhnXSfK"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_3meWPsPuwd6gKAfi",
        "type": "Switch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_3meWPsPuwd6gKAfi",
        "category": "Function",
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_wLm2WeEcdy1VzXhO"
            ],
            [
                "sd_Fx6yzBtot3z4PTUn"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_Fx6yzBtot3z4PTUn",
        "type": "Switch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Fx6yzBtot3z4PTUn",
        "category": "Function",
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_gCbZBIZoigo2MUyt"
            ],
            [
                "sd_KoGrN1HCkjOEMybb"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_QaVlrneXfcejyJER",
        "type": "HttpOut",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "403",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_QaVlrneXfcejyJER",
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_gCbZBIZoigo2MUyt",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "functionName": "sd_gCbZBIZoigo2MUyt",
        "category": "Function",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_QaVlrneXfcejyJER"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_KoGrN1HCkjOEMybb",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "functionName": "sd_KoGrN1HCkjOEMybb",
        "category": "Function",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_QaVlrneXfcejyJER"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_FiUBtZGii26IU2Ri",
        "type": "Switch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_FiUBtZGii26IU2Ri",
        "category": "Function",
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_PGUcAAOU0fkzyb60"
            ],
            [
                "sd_0KTXg1iNbOFK6nce"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_PDo5PSB61QFDIe1y",
        "type": "MiddlewareEnd",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_PDo5PSB61QFDIe1y",
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_aXZUSwx3VXhmRNuO",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "functionName": "sd_aXZUSwx3VXhmRNuO",
        "category": "Function",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_QaVlrneXfcejyJER"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_wLm2WeEcdy1VzXhO",
        "type": "CallService",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_CBgLAFnpfXPJux1R",
            "serviceName": "idsutil",
            "id": "sd_CBgLAFnpfXPJux1R",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_kQOvN4WHnKxMhqnW",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "./idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "accept_bh": false,
        "functionName": "sd_wLm2WeEcdy1VzXhO",
        "category": "General",
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_FiUBtZGii26IU2Ri"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_DVR8mkm1XcsgISsC",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "functionName": "sd_DVR8mkm1XcsgISsC",
        "category": "Function",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_HqUeLEDkxDIwWDkt"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_kQ0J6vfErWhnXSfK",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "functionName": "sd_kQ0J6vfErWhnXSfK",
        "category": "Function",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_3meWPsPuwd6gKAfi"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_PGUcAAOU0fkzyb60",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_PGUcAAOU0fkzyb60",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_aXZUSwx3VXhmRNuO"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_0KTXg1iNbOFK6nce",
        "type": "Switch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_0KTXg1iNbOFK6nce",
        "category": "Function",
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_dZPrFPMJxCEAuRSE"
            ],
            [
                "sd_PDo5PSB61QFDIe1y"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_DdzG2PkZdHMgfjqv",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "functionName": "sd_DdzG2PkZdHMgfjqv",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_PDo5PSB61QFDIe1y"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_dZPrFPMJxCEAuRSE",
        "type": "Script",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "functionName": "sd_dZPrFPMJxCEAuRSE",
        "category": "Function",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_DdzG2PkZdHMgfjqv"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_8GfwWajwTIBu4ZaY",
        "type": "Comments",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "category": "General",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_8GfwWajwTIBu4ZaY"
    },
    {
        "id": "sd_aNX7X3JCCR2HpIVr",
        "type": "Comments",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "category": "General",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_aNX7X3JCCR2HpIVr"
    },
    {
        "id": "sd_wvsmNl1mJpaWPkUu",
        "type": "Comments",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "category": "General",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_wvsmNl1mJpaWPkUu"
    },
    {
        "id": "sd_8rUv4UsZ4cHVU6rP",
        "type": "Comments",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "category": "General",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_8rUv4UsZ4cHVU6rP"
    },
    {
        "id": "sd_R2eiIRZ7f6SBaFpP",
        "type": "Comments",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "category": "General",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_R2eiIRZ7f6SBaFpP"
    },
    {
        "id": "sd_EZTeaaqrXcraTcOS",
        "type": "Comments",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "category": "General",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_EZTeaaqrXcraTcOS"
    },
    {
        "id": "sd_VpqAWt2RjPjz3aPV",
        "type": "Comments",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "category": "General",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_VpqAWt2RjPjz3aPV"
    },
    {
        "id": "sd_k1pDYvWgtFKChRK1",
        "type": "Comments",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "category": "General",
        "x": 581.25,
        "y": 2238.4765625,
        "wires": [],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_k1pDYvWgtFKChRK1"
    },
    {
        "id": "sd_qyIVGQUCsbZpYd3c",
        "type": "Catch",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_wLm2WeEcdy1VzXhO"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_qyIVGQUCsbZpYd3c",
        "category": "General",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_aXZUSwx3VXhmRNuO"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_dCWCI7Lqpk6tk1KJ",
        "type": "Session",
        "z": "sd_9DCUVTdQNHyR9nhR",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "bh.local.sessionData.data",
        "functionName": "sd_dCWCI7Lqpk6tk1KJ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session",
                "constant": false
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "sessionData.data",
                "constant": false
            }
        },
        "x": 1205,
        "y": 1560,
        "wires": [
            [
                "sd_Rt0nPDjhQ7iOxAFC"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    }
]
